.image-container {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 300px;
    margin: auto;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-container h1 {
    position: absolute;
    top: 40%;
    right: 50%;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    color: #f9f9f9;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 20px auto;
    max-width: 1200px;
}

.card {
    width: 30%;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.card h2 {
    font-size: 1.5em;
    margin: 10px 0;
    transition: color 0.3s ease;
}

.card p {
    font-size: 1em;
    color: #555;
    padding: 0 10px 10px;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.card:hover img {
    transform: scale(1.1);
}

.card:hover h2 {
    color: #007bff;
}

.button-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 20px auto;
}

.edit-button {
    display: inline-block;
    padding: 10px 15px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.edit-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.delete-button {
    display: inline-block;
    padding: 10px 15px;
    color: #fff;
    background-color: #dc3545;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.delete-button:hover {
    background-color: #c82333;
    transform: scale(1.05);
}

.edit-button, .delete-button {
    text-align: center;
}

.edit-button, .delete-button {
    margin: 0 10px;
}

@media (max-width: 768px) {
    .image-container {
        height: 200px;
    }

    .image-container h1 {
        font-size: 28px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 0 10px;
        text-align: center;
        justify-content: center;
    }

    .card-container {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        gap: 15px;
    }

    .card {
        width: 45%;
        margin: 10px;
    }

    .button-container {
        flex-direction: row;
        gap: 10px;
    }

    .edit-button, .delete-button {
        width: auto;
    }
}
