/* Center the form title */
.form-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

/* Form styling */
.edit-tool-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #f9f9fc;
}

/* Label and input styling */
.edit-tool-form label {
    display: block;
    margin-top: 10px;
    font-size: 16px;
}

.edit-tool-form input[type="text"],
.edit-tool-form textarea
 {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

/* Submit button styling */
.edit-tool-form button {
    display: block;
    width: 20%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}



/* Image preview styling */
